:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: solid 1px red;
}
.container{
max-width: 1200;
margin: 0 auto;
}

h1{
text-transform: uppercase;
color: var(--color-contrast);
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
font-family: "nerko one", cursive;
    }
  main{
    background-color: var(--color-bg-color);
  }
  footer{
    background-color:var(--color-primary) ;
  }
  .d-flex{
    display: flex;

  }
  .j-center {
    justify-content: center;
}
.a-center {
    align-items: center;
}
.p-all{
padding: 20px;
}
/*lista*/
li{
  list-style-type: none;
}
/*testo grande*/
.uppercase{
text-transform: uppercase;
}
.text-color{
color: var(--color-dark-text);
}
.text-bold{
  font-weight: bold ;
}
/* fine modifica testo*/

/*immagini*/
.img{
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 576px) {

}